.profile-pagep-container {
    width: 100%;
    margin: 80px auto;
    background-color: rgba(240, 248, 255, 0.144);
    padding: 15px;
    border-radius: 15px;
}

.profile-pagep-container .top {
    flex: 0 0 30%;
    display: flex;
    gap: 30px;
    padding-bottom: 80px;
}

.profile-pagep-container .middle {
    display: flex;
    gap: 30px;
}

.profile-pagep-container .middle div:first-child {
    flex: 0 0 30%;
}

.profile-pagep-container .middle div:last-child {
    width: 100%;
}

.profile-pagep-container .info-container {
    margin: 20px auto 50px;
}

.profile-pagep-container .info-container h6 {
    color: rgb(189, 189, 189);
}

.profile-pagep-container .info-container div {
    margin: 10px auto;
    padding: 8px;
    border-radius: 5px;
    background-color: rgba(212, 212, 212, 0.062);
}

.profile-pagep-container h2 {
    font-size: 120px;
    font-weight: 800;
    background: -webkit-linear-gradient(left, var(--color-pink), var(--color-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#profile-img {
    width: 350px;
    height: 350px;
    border-radius: 15px;
    text-align: center;
    display: block;
    z-index: 10;
    border: 8px solid var(--color-pink);
    position: relative;
}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {
    .profile-pagep-container .top {

        flex-direction: column;
        align-items: center;
    }

    .profile-pagep-container h2 {
        font-size: 42px;
    }

    .profile-pagep-container .middle {
        flex-direction: column;
    }

    #profile-img {
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 600px) {}